<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caipudaquandemo.mapper.UserManagerMapper">

    <insert id="inserUser">
        insert INTO user_info(username, `password`, usernumber, per)
        VALUES (#{username}, #{password}, #{usernumber}, #{per})
    </insert>
    <delete id="deleteUser">
        DELETE
        from user_info
        WHERE uid = #{uid}
    </delete>

    <select id="getAllUser" resultType="com.caipudaquandemo.entity.UserManager">

        SELECT uid, username, `password`, per, usernumber
        FROM `user_info`
    </select>

    <select id="selectUser" resultType="com.caipudaquandemo.entity.UserManager">
        SELECT uid, username, `password`, per
        FROM `user_info`
        WHERE username LIKE "%"#{username}"%"
    </select>



</mapper>